###############################################################################
# SPDX-FileComment: Git ignore file for repository kz-rpm
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0-1.0
###############################################################################

# Directories
dist/
